.shop .page__section__title {
    text-align: center;
    margin-bottom: 20px;
}

.shop__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop_product__title {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--gray-300);
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    transition: all var(--time-transition);
}

.title--active, .shop_product__title:hover {
    position: relative;
    color: var(--dark-gray);
}

.title--active::after, .shop_product__title:hover::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--dark-gray);
    animation: width_animate var(--time-transition) forwards;
}

.shop {

}