@import url(./src/styles/page.css);
@import url(./src/styles/header.css);
@import url(./src/styles/cart.css);
@import url(./src/styles/hero.css);
@import url(./src/styles/menu.css);
@import url(./src/styles/roll_message.css);
@import url(./src/styles/about_our_brand.css);
@import url(./src/styles/shop.css);
@import url(./src/styles/about_the_creators.css);
@import url(./src/styles/tooth_powder.css);
@import url(./src/styles/pros_infos.css);
@import url(./src/styles/contatc_us.css);
@import url(./src/styles/back_to_top.css);
@import url(./src/styles/footer.css);

@import url(./src/styles/products.css);

:root {
    --bg-color: #E4DFD3 ;
    --dark-gray: #333333;
    --gray-300: #8E8D8C;
    --gray-200: #BDBDBD;
    --gray-100: #F2F2F2;
    --lime-300: #344F10;
    --lime-200: #8C9772;
    --lime-100: #E4DFD3;
    --red: #EB5757;
    --time-transition: 0.2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

