.about_the_creators__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_the_creators__content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.about_the_creators__content .page_link {
    margin-top: 10px;
};