.card_product {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_infos__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
}

.card_infos__price {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 1px;
}

.card_product .add-to-bag_btn {
    margin-top: 10px;
}

.about_product {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_product p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.about_product span {
    color: var(--lime-300);
}

.about_product__ingredients p {

}